pydantic
pydantic[email]

instructor
groq

pdfplumber
python-docx

groq
requests

langchain
langgraph


pydantic-settings
pyyaml
python-dotenv


streamlit
pandas

PyPDF2

langchain-core

langgraph-checkpoint

aiosqlite

asyncio

streamlit-mic-recorder
deepgram-sdk